bin/Dataset[[:space:]]Russian.ipynb export-ignore
filter_export.py export-ignore
qumin-0.2.0.tar.gz export-ignore
Data/Vlexique/vlexique-endings-nofreq.csv export-ignore
bin/Dataset[[:space:]]Yaitepec[[:space:]]Chatino.ipynb export-ignore
qumin-0.1.tar.gz export-ignore
Data/Portugais export-ignore
Data/fake_arabic export-ignore
Data/celex2 export-ignore
bin/dev_pattern_fig.ipynb export-ignore
bin/doc_DefiningEntropies.ipynb export-ignore
bin/matplotlibrc export-ignore
bin/sphinx.tpl export-ignore
bin/qumin.png export-ignore
bin/doc_Segments.ipynb export-ignore
Data/Vlexique/vlexique-endings.csv export-ignore
bin/dev_Lattice.ipynb export-ignore
Data/Vlexique/vlexique-plus-20160826.csv export-ignore
Data/Vlexique/variations.ods export-ignore
Data/navajo export-ignore
bin/dev_split_join_entropy.ipynb export-ignore
Data/Finnish export-ignore
Data/Vlexique/vlexique-segmented.csv export-ignore
bin/dev_Orthogonality-Lattices.ipynb export-ignore
bin/foldsplit.py export-ignore
Data/otomanguean export-ignore
bin/Dataset[[:space:]]Georgian.ipynb export-ignore
Data/Vlexique/small_set.csv export-ignore
bin/dev_Lattice_Figures.ipynb export-ignore
Data/Irish export-ignore
bin/make_features.py export-ignore
Data/Russian export-ignore
Data/Arabic export-ignore
Data/Features[[:space:]]multilg export-ignore
bin/Dataset[[:space:]]Celex[[:space:]]reading.ipynb export-ignore
export_list.txt export-ignore
Data/Morisien export-ignore
bin/Dataset[[:space:]]Arabic[[:space:]]UNIMORPH.ipynb export-ignore
bin/PaperMorphology16.ipynb export-ignore
Data/french_deriv export-ignore
.gitignore export-ignore
qumin-0.1.1.tar.gz export-ignore
bin/analyze export-ignore
Results export-ignore
qumin-0.4.0.tar.gz export-ignore
bin/Dataset[[:space:]]Irish.ipynb export-ignore
bin/orthogonality export-ignore
Data/Vlexique/frenchipa_no_neutralizations.csv export-ignore
bin/Paper[[:space:]]Analysing[[:space:]]Lattices.ipynb export-ignore
bin/dev_Lattices_Multi_Figs.ipynb export-ignore
bin/analyze_results.py export-ignore
bin/Dataset[[:space:]]Navajo.ipynb export-ignore
bin/doc_Patterns.ipynb export-ignore
bin/Dataset[[:space:]]English[[:space:]]Celex.ipynb export-ignore
Data/Vlexique/freq-cells-ftb.csv export-ignore
Data/Serbian export-ignore
bin/eval.py export-ignore
Data/czech export-ignore
bin/doc_CondEntropy.ipynb export-ignore
sphinx export-ignore
Data/Vlexique/cut_pres.csv export-ignore
qumin-0.2.1.tar.gz export-ignore
Data/Vlexique/minivlexique.csv export-ignore
qumin-0.3.0.tar.gz export-ignore
bin/Dataset[[:space:]]Georgian[[:space:]]UNIMORPH.ipynb export-ignore
